h3 {
  color: white;
  padding-left: 10px;
}

.nav-ctr {
  /* background-color: black; */
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
  padding-right: 50px;
  padding-left: 50px;
  height: 125px;
}



.logo-ctr {
  /* border: 1px solid white; */
}
.logo-ctr > img {
  height: 200px;
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}
.logout-btn {
  color: white;
  background-color: transparent;
  padding: 10px;

}

.logout-btn:hover {
  background-color: #f8624fff;
  border-color: white;
}
.user-ctr {
  display: flex;
  flex-direction: row;
  align-items: center;
  
}
.user-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid white;
}

.user-name {
  padding: 0px;
}