.nav-ctr {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* padding-right: 50px;
  padding-left: 50px;
  height: 125px; */
}

.logout-ctr {
  /* border: 1px solid white; */
}

.logo-ctr {
  /* border: 1px solid white; */
}
.logo-ctr > img {
  height: 200px;
  width: 300px;
}
.logout-btn {
  background-color: transparent;
  border-color: #f8624fff;
}

.logout-btn:hover {
  background-color: #f8624fff;
  border-color: white;
}
.user-ctr {
  display: flex;
}
.user-ctr > img {
  width: 50px;
  border-radius: 50%;
}
